@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #8CA9FF;
  /* Red color */
  --color-secondary: #AAC4F5;
  --color-btn: #688ff9
}

.bg-btn {
  background-color: var(--color-btn);
}

.hover\:bg-btn:hover {
  background-color: #7c9bef
}
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}


.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}


.hover\:text-secondary:hover {
  color: var(--color-secondary);
}
.ant-input {
  border: 2px solid var(--color-secondary) !important;  
  border-radius: 8px;     
}
.ant-select {
  border: 2px solid var(--color-secondary) !important;  
  border-radius: 8px;     
}

.ant-input:focus, .ant-input-focused {
  border-color: green;    
  box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2); 
}